body {
    font-family: 'Nova Flat', cursive;
    background-color: #B396FF;
color: #fff;
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
#error-link {
    font-size:150px;
    padding:10px;
}

/*更改button样式*/
.btn-primary{
  background-color: #46738a !important;
  border-color: #46738a !important;
  display: inline !important;
}

.btn-primary:hover{
	background-color: #6f97ab;
}

