<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${SystemName}"></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- css -->
	<link rel="stylesheet" th:href="@{/bootstrap337/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/Awesome470/css/font-awesome.min.css}">
	<!--chartist开源响应式图表-->
	<link rel="stylesheet" th:href="@{/css/jquery.scrollbar.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/nth.tabs.min.css}"/>
	<!-- main css -->
	<link rel="stylesheet" th:href="@{/css/login/sysLogin.css}"/>
	<link rel="stylesheet" th:href="@{/css/index/style.css}"/>
	<!-- ICONS -->
<!--	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">-->
</head>

<body>
	<!-- 页面开始 -->
	<div id="wrapper">
		<!-- 导航条 -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a th:text="${SystemName}" href="Index"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<!--搜索-->
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<!--<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						&lt;!&ndash;消息通知&ndash;&gt;
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						&lt;!&ndash;帮助&ndash;&gt;
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						&lt;!&ndash;个人中心&ndash;&gt;
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					</ul>
				</div>-->
			</div>
		</nav>
		<!-- 导航条结束 -->


		<!-- 左边栏 -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" id="nav">
						<input id="menu" type="hidden" th:value="${menuList}">
					</ul>
				</nav>
			</div>
			<div class="version">© 2018-2019 版权所有</div>
		</div>
		<!-- 左边栏结束 -->


		<!-- 主页面开始 -->
		<div class="main">
			<!-- 主体内容开始 -->
			<div class="nth-tabs" id="indexTabId"></div>
			</div>
			<!-- 主体内容结束 -->
		</div>
		<!-- 主页面结束 -->


		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
			</div>
		</footer>
	</div>
	<!-- 页面结束 -->
	<!-- Javascript -->
	<script type="text/javascript" th:src="@{/js/commJs/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap337/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/index/jquery.slimscroll.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/index/klorofil-common.js}"></script>
	<script type="text/javascript" th:src="@{/js/index/index.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.scrollbar.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/nth.tabs.min.js}"></script>
</body>

</html>
