<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>login</title>
    <!--css-->
    <link rel="stylesheet" href="/bootstrap337/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/Awesome470/css/font-awesome.min.css"/>
    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap337/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/js/login.js"></script>-->
    <script type="text/javascript" src="/js/aes.js"></script>
    <script type="text/javascript" src="/js/pad-zeropadding-min.js"></script>
</head>
<script type="text/javascript">
    $(function () {
        $.getScript('/js/comm.js');
        $.getScript('/js/login.js');
    })
</script>
<body>
<div class="container">
    <div class="fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">后台管理系统</h3>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="division">
                            <div class="line l"></div>
                            <span>管理员登陆</span>
                            <div class="line r"></div>
                        </div>

                        <div class="form loginBox">
                            <form method="post" action="/login" accept-charset="UTF-8">
                                <input id="loginname" class="form-control" type="text" placeholder="请输入账号..." name="loginname" />
                                <input id="password" class="form-control" type="password" placeholder="请输入密码..." name="password" />
                                <input class="btn btn-default btn-login" type="button" value="登陆" onclick="SystemLogin()" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>